{% extends 'base.html' %} {% load crispy_forms_tags %} {% block content %} {%
load static %}
<div class="container mt-4">
  <div class="row">
    <div class="col-md-4 mt-4">
      <h3>Change Password</h3>
      <div class="card-body mb-3 mr-3 ml-3">
        <form action="" method="post" novalidate>
          {% csrf_token%} {{ form|crispy}}
          <button type="submit" class="btn btn-primary btn-sm D-block mx-auto">
            Change Password
          </button>
        </form>
      </div>
    </div>
  </div>
</div>

{% endblock %}
