<div class="" style="font-family: 'Viaoda Libre', cursive;">
  {%extends 'base.html'%}
  {%block content%}
  <div class="container-fluid">

      <div class="jumbotron jumbotron-fluid">
          <div class="container">
              <h2 class="display-4"><b style="color: 240046;"><i> Welcome To Sally Awwards</i></b></h2>
              <p class="lead" style="color:3c096c;"><b>Go through other peoples' projects, Review and Rate them! You can also submit yours to be reviewed!</b>
              </p>
          </div>
      </div>
      <h3>Here is A Sample of Projects</h3>
      <div class="row">
          {%for proj in projects%}
          <div class="col-md-3">
              <div class="card">
                  <div class="view view-cascade overlay">
                      <img src="{{proj.projectscreenshot.url}}" class="img-fluid" alt="">
                      <a href="projects/{{proj.id}}">
                          <div class="mask rgba-white-slight"></div>
                      </a>
                  </div>
                  <div class="card-body">
                      <h5 class="">{{proj.title}}</h5>
                      <a href="projects/{{proj.id}}"> Click Next</a>
                  </div>
              </div>
          </div>
          {%endfor%}
      </div>
  </div>

  {%endblock%}
</div>