 <!--Navbar blue-->
  <nav class="navbar navbar-expand-lg navbar-dark bg-info">
  
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link waves-effect waves-light" href="/">Sally Awwards
            <span class="sr-only">(current)</span>
          </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{%url "project" %}">Post Your Projects</a>
        </li>
    </ul>
    <ul class="navbar-nav ml-auto nav-flex-icons">
        <li class="nav-item">
            {% csrf_token %}
            <form class="form-inline" action="{%url "search" %}">
                <div class="md-form my-0">
                    <input class="form-control mr-sm-5" type="text" placeholder="Search" name="searchUser"
                        aria-label="Search">
                </div>
            </form>
        </li>
      
        <li class="nav-item">
          <a class="nav-link waves-effect waves-light" href="{% url 'profile' user.username %}">Profile</a>
        </li>
        <li class="nav-item">
          <a class="dropdown-item waves-effect waves-light" href="{% url 'password' %}">Change password</a>
        </li>
        <li class="nav-item">
          <a class="dropdown-item waves-effect waves-light" href="{% url 'logout' %}">Logout</a>
        </li>
       
      </ul>
     
    </div>
  </nav>
  <!--/.Navbar blue-->

 